body {
    background: #ddd;
	font: 14px Georgia;
    margin: 0;
}

.wrapper {
    width: 1000px;
    min-height: 600px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto !important;
}

#LeftTop {
    float:left;
    width: 480px;
    padding: 10px;
}

#RightTop {
    float:right;
    width: 480px;
    padding: 10px;
}

.ProblemStatement {
	width: 50%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
}

textarea {
	width: 99%;
	resize: none;
	border: 1px solid #959595;
	border-radius: 10px;
}

textarea:focus {
	outline: none;
	border: 1px dashed #00aeef;
	border-radius: 10px;
}

table {
	border-collapse: collapse;
}

#ResultTable {
    margin: 0 auto;
}

td {
	padding: 5px; 
    border: 1px solid #000;
	margin: 0px;
}

.TableHead {
	background: #e5e5e5;
	text-align: center;
}