body {
    background: #ddd;
	font: 14px Georgia;
}

#wrapper {
    width: 960px;
    margin: 0 auto !important;
}

#LeftTop {
    float:left;
    padding: 10px;
    background: #ffffff;
    width: 460px;
}

#RightTop {
    float:right;
    padding: 10px;
    background: #ffffff;
    width: 460px;
}

.ProblemStatement {
	width: 50%;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
}

textarea {
	width: 99%;
	resize: none;
	border: 1px solid #959595;
	border-radius: 10px;
}

textarea:focus {
	outline: none;
	border: 1px dashed #00aeef;
	border-radius: 10px;
}

table {
	border-collapse: collapse;
}

#ResultTable {
    margin: 0 auto;
}

td {
	padding: 5px; 
    border: 1px solid #000;
	margin: 0px;
}

.TableHead {
	background: #e5e5e5;
	text-align: center;
}